.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5 ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
@media (min-width: 600px) {
  .menu-btn__burger {
    display: none;
  }
}

.menu-btn.active .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.active .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.active .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: rgb(239, 239, 239);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: aqua;
}

ul {
  list-style: none;
}

header {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1c1c1c;
  width: 100%;
  height: 4rem;
}
header h1 {
  font-weight: 400;
}
header nav {
  width: 25rem;
}
header .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
@media (max-width: 600px) {
  header .title-name a {
    width: 100%;
    margin: 0 auto;
  }
  header nav {
    position: relative;
    width: 0;
    margin-right: 20px;
  }
  header .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: #1c1c1c;
    text-align: center;
    transition: all 200ms ease-in-out;
  }
  header .menu-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: #1c1c1c;
  }
  header .nav-menu.active {
    left: 0;
  }
}
@media (max-width: 450px) {
  header .title-name {
    font-size: 1.5rem;
  }
}

section {
  display: flex;
  align-items: center;
}

.home {
  background: url("../Img/LIUBPxK.jpg") no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
}
.home .home-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.home .home-content h1 {
  font-size: 4rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .home .home-content {
    display: flex;
    flex-direction: column;
  }
  .home .home-content h1 {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.cosmonaut-img {
  width: 15rem;
}

.portfolio {
  background: url("../Img/space_ship.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.projects-title {
  margin-bottom: 5rem;
  font-size: 2em;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 200px;
}
.projects img {
  width: 90%;
  margin: 30px auto 15px auto;
  border-radius: 20px;
  border: 2px white solid;
  transition: all 200ms ease-in-out;
}
.projects img:hover {
  border: 3px aqua solid;
  cursor: pointer;
}
@media (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
  .projects .project1 {
    margin-bottom: 4rem;
  }
}

.project1-code, .project2-code {
  font-family: "Press Start 2P", cursive;
  font-size: small;
}
.project1-code:hover, .project2-code:hover {
  color: aqua;
}

.project {
  text-align: center;
}

.skills_contact {
  background: url("../Img/LIUBPxK.jpg") no-repeat center/cover;
  background-attachment: fixed;
}
.skills_contact .skills_contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 30px auto;
}
.skills_contact .skills_contact-content .skills {
  margin-top: 3rem;
}
.skills_contact .skills_contact-content .contact {
  margin-top: 3rem;
}
.skills_contact .skills_contact-content li {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.skills_contact .skills_contact-content a {
  display: flex;
  flex-direction: row;
}
.skills_contact .skills_contact-content a p:hover {
  color: aqua;
}
.skills_contact .skills_contact-content img {
  width: 3em;
}
.skills_contact .skills_contact-content p {
  margin: 20px 0 0 10px;
  transition: all 200ms ease-in-out;
}
@media (max-width: 600px) {
  .skills_contact .skills_contact-content {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */