@import "partials/variables";
@import "partials/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: $default-text-color;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover { 
  color: aqua
}


ul {
  list-style: none;
}
// =============================== HEADER =====================================
header {
  z-index: 2;
  position: fixed;
  @include flex-row();
  justify-content: space-around;
  align-items: center;
  background-color: $bc-color;
  width: 100%;
  height: 4rem;

  h1 {
    font-weight: 400;
  }

  nav {
    width: 25rem;
  }

  ul {
    @include flex-row();
    justify-content: space-around;
  }
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

// =============================== 1 SECTION (ABOUT) =====================================
.about {
  background: url("../Img/LIUBPxK.jpg") no-repeat center / cover;
  background-attachment: fixed;

  .about-content {
    @include flex-row();
    @include centered-div();

    h1 {
      font-size: 50px;
      font-weight: 500;
    }
  }
} 

// =============================== 2 SECTION (PORTFOLIO) ============================
.portfolio {
  background: url("../Img/space_ship.jpg") no-repeat center / cover;
  @include flex-column();
  padding-top: 5rem;
}

.projects-title {
  margin-bottom:5rem;
  font-size: 2em;
}

.projects {
  @include flex-row();
  justify-content: space-around;
  width: 90%;
  


  img {
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px white solid;
    transition: all 200ms ease-in-out;

    &:hover {
      border: 4px aqua solid;
      cursor: pointer;
    }
  }
}

.project {
  text-align: center;
}

// =============================== 3 SECTION (SKILLS + CONTACT) =====================================

.skills_contact {
  background: url("../Img/LIUBPxK.jpg") no-repeat center / cover;
  background-attachment: fixed;

  .skills_contact-content {
    @include flex-row();
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    li {
      @include flex-row;
      margin: 30px 0;
    }

    a {
      @include flex-row;
    }

    img {
      width: 3rem;
    }

    p {
      margin: 20px 0 0 10px;
      transition: all 200ms ease-in-out;
      &:hover { 
        color: aqua
      }
    }
  }
}


// BURGER  =================
@include Hamburger();