@import "partials/variables";
@import "partials/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

a { 
  text-decoration: none;  
  color: $default-text-color;
}

ul{
  list-style: none;
}

header {
  z-index: 2;
  position: fixed;
  @include flex-row();
  justify-content: space-around;
  align-items: center;
  background-color: $bc-color;
  width: 100%;
  height: 4rem;

  h1 {
    color: $default-text-color;
    font-weight: 400;
  }

  nav{
    width:20em;
  }

  ul {
    @include flex-row();
    justify-content: space-around;
  }
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about {
  background: url("../Img/LIUBPxK.jpg") no-repeat center / cover;
  background-attachment: fixed;
  // background-color: #222837;
 

  .about-content {  
    @include flex-row();
    @include centered-div();
    
    color: $default-text-color;
 
    h1 {
      font-size: 50px;
      font-weight: 500;
      color: rgb(255, 255, 255);
    }
  }
 
}


.portfolio { 
 background: url("../Img/space_ship.jpg") no-repeat center / cover;
  @include flex-column();
  color:$default-text-color; 
  padding-top: 5rem;
}
.projects { 
  @include flex-row();
  justify-content: space-around;
  width: 90%;

  img { 
    width: 90%;
    margin: 0 auto;
    border-radius:10px ;
    border: 2px white solid;
    
    &:hover  { 
      border: 2px red solid;
      cursor: pointer;
    }
   
  }
}

.project { 
 text-align: center;


}

.skills_contact { 
  background: url("../Img/LIUBPxK.jpg") no-repeat center / cover;
  background-attachment: fixed;

  
  background-color: black;
}


.skills { 
  @include flex-column();
  color: $default-text-color;
  align-content: space-around;

  img { 
    width: 3rem;
  }
}