@mixin flex-row { 
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin centered-div { 
    width: 50rem;
    margin: 0 auto;
}

